---
layout: default.liquid
---

<h1>{{title}}</h1>
{% if where-url %}
<h2 class="published">Published in <a href="{{where-url}}">{{where}}</a>
{% else %}
<h2 class="published">Published in  {{where}}
{% endif %}
{% if issue %}
- {{issue}}
{% endif %}
</h2>

{{ content }}
